@model State

<h2>
    Update @Model.name
</h2>

@using (Html.BeginForm("UpdatestateToDatabase", "state", "Post"))
{
        <input asp-for="id" type="hidden" value="@Model.id" />

        <label asp-for="name" class="control-label">Name</label>

        <input type="text" name="Name" class="form-control" value="@Model.name" />

        <label asp-for="code" class="control-label">code</label>

        <input type="text" step="0.01" name="code" class="form-control" value="@Model.code" />

        <label asp-for="region" class="control-label">region</label>

        <input type="text" step="0.01" name="code" class="form-control" value="@Model.region" />

        <input type="submit" value="Update Product" class="btn btn-primary" />
}